# Eureka
EUREKA_SERVER_URL=

# Config Service
CONFIG_SERVER_URL=

# Identity Service
IDENTITY_DB_URL=
IDENTITY_DB_USERNAME=
IDENTITY_DB_PASSWORD=

ADMIN_INITIAL_ENABLED=
ADMIN_INITIAL_USERNAME=
ADMIN_INITIAL_PASSWORD=

# Profile Service
PROFILE_DB_NAME=
PROFILE_DB_URL=
PROFILE_DB_USERNAME=
PROFILE_DB_PASSWORD=

# Services URLs (for inter-service communication)
PROFILE_SERVER_URL=
IDENTITY_SERVER_URL=

# Security
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=

# Server Ports
PROFILE_SERVER_PORT=
IDENTITY_SERVER_PORT=
GATEWAY_PORT=

# Active Profile
SPRING_PROFILE=